<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ваша страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>

    <div class="root">

        <div class="mini-main">
            <form action="{{ url_for('user_page.order_lists') }}">
                <button class="body_btn">Список заявок</button>
            </form>
        </div>

        <p class="main-text">Мои принятые заявки</p>
        {% for order in orders %}
            <div class="mini-main">
                <p class="fort-text">ФИО:</p> <p class="fort-text">{{ order.customer.name }}</p>
                <p class="fort-text">Класс:</p> <p class="fort-text">{{ order.customer.grade }}</p>
                <p class="fort-text">Описание:</p> <p class="fort-text">{{ order.description }}</p>
                <p class="fort-text">Ссылка на тг:</p> <p class="fort-text">{{ order.telegram_link }}</p>
                <button class="body_btn" onclick="end_ord({{ order.id }})">Удалить</button>
            </div>
        {% endfor %}

    </div>
<script>
    function end_ord(order_id){
        document.location.href = "/finish_order?order_id="+order_id
    }
    </script>

</body>
</html>