<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>

    <div class="root">

      <div class="header">
          <a class="logo" href="/"><img src="static/images/LWU_pic.jpg"></a>
          <a class="LS" href="/">Главная</a>
          <a class="LS" href="logup">Регистрация</a>
      </div>


      <div class="main-login">
         <p class="login-text">Вход</p>
         <form method="post" class="login-form">
             <input class="LG" placeholder="Логин" name="user_login" id="user_login" required>
             <input class="LG" placeholder="Пароль" type="password" name="user_password" id="user_password" required>
             <input class="login_btn" type="submit" value="Вход">
         </form>
      </div>

      <div class="footer">
          <p class="footer-text">Контакты: 8-800-555-35-25</p>
      </div>

    </div>

</body>
</html>