<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/" method="post">
      <h4>Enter your login</h4>
      <input name="user_login">
      <h4>Enter your password</h4>
      <input name="user_password">
      <h4>Enter your name</h4>
      <input name="user_name">
      <h4>Enter your surname</h4>
      <input name="user_surname">
      <h4>Enter your grade</h4>
      <input name="user_surname">
      <h4>Please enter the code</h4>
      <input name="user_code">
      <input type="submit" value="Send">
</form>
</body>
</html>