<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>

    <div class="root">

        <div class="header">
            <a class="logo" href="/"><img src="static/images/LWU_pic.jpg"></a>
        </div>
        <p class="main-text">Доступные заявки</p>

        {% for order in orders %}
            <div class="mini-main">
                <p class="fort-text">ФИО:</p> <p class="fort-text">{{ order.customer.name }}</p>
                <p class="fort-text">Класс:</p> <p class="fort-text">{{ order.customer.grade }}</p>
                <p class="fort-text">Описание:</p> <p class="fort-text">{{ order.description }}</p>
                <p class="fort-text">Предмет:</p> <p class="fort-text">{{ order.subject }}</p>
                <p class="fort-text"><a href="/accept_order?order_id={{ order.id }}">Ответить на запрос</a> </p>
            </div>
        {% endfor %}

    </div>
</body>
</html>